<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div style="background-image: url('../static/image/backround.png');" class="bg-cover bg-center h-screen">
        <div class=" flex justify-center items-center h-screen text-white">
            <div>
                <p class="text-center font-bold text-xl">LOGIN</p>
                <p class="text-center text-sm mt-2">Please, Enter Your Details to Login </p>

                <form action="" method="POST" class="mt-6" style="width: 18rem;">
                    <p class="ml-3 mb-2">Username</p>
                    <input type="text" name="usr" class="w-full rounded-xl py-2 bg-gray-300 text-black">

                    <p class="ml-3 mt-5 mb-2">Password</p>
                    <input type="password" name="pwd" id="" class="w-full rounded-xl py-2 bg-gray-300 text-black">

                    <div class="mt-7">
                        <button type="submit" class="w-full py-2 rounded-xl font-semibold" style="background: linear-gradient(to right, #9181F4, #5038ED);">Login Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>